{% extends 'base.html' %}
{% load static %}
{% block content %}


<div id="mynetwork"></div>


<style type="text/css">
    #mynetwork {
        width: 100%;
        height: 940px;
        border: 1px solid lightgray;
    }
</style>

<script type="text/javascript">
    // create an array with nodes
    var childDirs = "{{ focusDirs|safe }}".replace(/\'/ig,'\"').trim();
    childDirs = JSON.parse(childDirs);
    var childDirSize = childDirs.length;

    var nodeData = [];
    nodeData.push( {id: 1, label: '{{ focusName }}'} );
    for(var ii = 0;ii< childDirSize; ii++){nodeData.push( {id: ii+2, label: childDirs[ii] } );}
    var nodes = new vis.DataSet(nodeData);


    var edgeData = [];
    for(var ii = 0;ii< childDirSize; ii++){edgeData.push( {from: 1, to: ii+2 ,length: 320} );}
    var edges = new vis.DataSet(edgeData);


    var container = document.getElementById('mynetwork');
    var data = {nodes: nodes,edges: edges,};
    var options = {
      nodes:{
        shape : 'box',
        scaling: {label: {enabled: true,},},
        font: '42px arial black',
        margin: 15,
      },
    };

    // initialize your network!
    var network = new vis.Network(container, data, options);
</script>

{% endblock content %}
