{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div style="margin-top: 80px;margin-left: 80px;margin-right: 80px;">

        <div id = "editor" class="ql-container ql-snow">
            {{ notes|safe }}
        </div>

        <div align="right" style="margin-top: 80px;">
            <button class="btn btn-lg btn-info" onclick="navigateToNetwork('{{ focuspath }}');">Back to Network</button>
            <button class="btn btn-lg btn-info" onclick="saveNotes('{{ focuspath }}');">Save Notes</button>
        </div>
    </div>
    <script>
      var toolbarOptions = [
          ['bold', 'italic', 'underline', 'strike','code'],        // toggled buttons
          ['blockquote', 'code-block'],

          [{ 'header': 1 }, { 'header': 2 }],               // custom button values
          [{ 'list': 'ordered'}, { 'list': 'bullet' }],
          [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
          [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
          [{ 'direction': 'rtl' }],                         // text direction

          [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

          [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
          [{ 'font': [] }],
          [{ 'align': [] }],

          ['clean'],                                        // remove formatting button

          ['link', 'image', 'video', 'formula']
      ];
      var quill = new Quill('#editor', {
        modules:{
          toolbar: toolbarOptions,
        },
        theme: 'snow'
      });
    </script>

{% endblock content %}